variables {
  yellow: #b58900;
  orange: #cb4b16;
  red: #dc322f;
  magenta: #d33682;
  violet: #6c71c4;
  blue: #268bd2;
  cyan: #2aa198;
  green: #859900;
  fg-selection: #fdf6e3;
}

variables.macos {
  /* FIXME: can't use that as we can't use var() in properties fields */
  window-controls-width: 100px;
}

variables.light {
  base3: #002b36;
  base2: #073642;
  base1: #586e75;
  base0: #657b83;
  base00: #839496;
  base01: #93a1a1;
  base02: #eee8d5;
  base03: #fdf6e3;
}

variables.dark {
  base03: #002b36;
  base02: #073642;
  base01: #586e75;
  base00: #657b83;
  base0: #839496;
  base1: #93a1a1;
  base2: #eee8d5;
  base3: #fdf6e3;
}

* {
  color: var(base2);
  background: var(base03);
  font-size: 14;
  font-family: regular;
  italics: false;
  stroke-width: 0;
  stroke-color: var(base01);
  border-width: 0;
  border-color: var(base01);
  underline-width: 0;
  underline-color: var(base01);
  strikethrough-width: 0;
  strikethrough-color: var(base01);
  align: left;
  cross-align: center;
  margin: 0;
  padding: 0;
  radius: 0;
  height: 0;
  width: 0;
  expansion: 0;
}

window {
  radius: 6;
  background: var(base01);
}

native {
  radius: 3; /* Button, scrollbar handle, scrollbar background */
  background: var(base01);
  border-color: var(base0); /* Button */
  border-width: 1; /* Button */

  /* Button label and collasing triangle */
  stroke-color: var(base2);
  stroke-width: 1;
}

native:active {
  /* - separator on active */
  background: var(base00); /* Background of pressed button, and pressed scrollbar handle */
  border-color: var(base0); /* Button */
  stroke-color: var(base2);
}

native:hover {
  /* separator on hover */
  background: var(base01); /* Background of pressed button, and pressed scrollbar handle */
  border-color: var(base0);
  border-width: 1;

  /* Button label and collasing triangle */
  stroke-color: var(base3);
  stroke-width: 1;
}

native.non-interactive {
  /* account folder listing left border */
  border-width: 1;
  border-color: var(base0);
}

native.open {
  background: red;
  border-color: red;
  stroke-color: red;
}

/* native text */

native.code {
  background: var(base01);
}
native.error {
  background: var(red);
}
native.warn {
  background: var(orange);
}
native.extreme {
  /* scrollbar background */
  background: rgba(0, 0, 0, 0.2);
}
native.faint {
  background: var(base1);
}
native.hyperlink {
  background: var(blue);
}
native.selection {
  background: var(red);
  stroke-color: var(red);
  stroke-width: 1.0
}

label {
  background: transparent;
}

.folder-listitem > label.icon, .folder-listitem > label.name {
  padding: 3;
}

.folder-listitem > label.icon {
  min-width: 40;
  align: center;
  radius: 3 0 0 3;
}

.folder-listitem > label.name {
  min-width: 100;
  radius: 0 3 3 0;
}

.folder-listitem.selected > label.icon, .folder-listitem.selected > label.name {
  background: var(blue);
  color: var(fg-selection);
}

#envelopes-frame {
  /* Room for scrollbar */
  padding: 0 4 0 8;
}

.envelope-row {
  radius: 3;
  background: transparent;
  height: 20;
}

.envelope-row.selected {
  background: var(blue);
}

.envelope-row.selected > label {
  color: white;
}

.envelope-row > label {
  padding: 0 3;
  cross-align: center;
}

.flags-cell, .date-cell {
  width: 80;
}

.flags-cell {
  align: left;
  font-family: mono;
  padding: 5 0;
}

.unread > .flags-cell {
  color: var(orange);
}

.unread > label {
  font-family: bold;
}

.sender-cell {
  width: 100;
}

.subject-cell {
  /* font-family: bold; */
}

#toolbar {
  border-width: 1;
  padding: 6 6 6 77;
}

#mainpanel.sidebaropen > #toolbar {
  padding: 6;
}

#no-mailbox-label {
  /* FIXME: I think this does nothing */
  align: center;
  cross-align: center;
}

#mailboxespanel {
  background: var(base02);
  border-width: 1;
  /* Room for osx button and scrollbar */
  padding: 32 4 0 0;
}

#mailbodypanel {
  /* Room for scrollbar */
  padding: 0 4 0 0;
  height: 200;
  min-height: 120;
}

#body-content {
  background: transparent;
  padding: 5;
}

#body-headers {
  padding: 5;
  background: var(base01);
}

#body-headers .label {
  min-width: 80;
  align: max;
  padding: 0 5 0 0;
  color: var(base1);
}

#body-headers-from > .value,
#body-headers-subject > .value {
  font-family: bold;
}

#body-headers-date > .value {
  /* FIXME */
}
